<br><br>

<button type="button" class="btn btn-link"  (click)="goback()" >Go To List</button>


<div class="row">
   <div class="col-1"></div>
    <div class="col-2 text-right">
        <h4 style="font-weight: bold;"> User Name :</h4>
    </div>

    <div class="col-3 text-left">{{UserObj['name']}}</div>
    <div class="col-2 text-right">
        <h4 style="font-weight: bold;"> Email :</h4>
    </div>

    <div class="col-3 text-left">{{UserObj['email']}}</div>
   <div class="col-1"></div>
    
</div>
<div class="row">
    <div class="col-1"></div>
     <div class="col-2 text-right">
         <h4 style="font-weight: bold;"> Gender: </h4>
     </div>
 
     <div class="col-3 text-left">{{UserObj['gender']}}</div>
     <div class="col-2 text-right">
         <h4 style="font-weight: bold;">  Mobile NO : </h4>
     </div>
 
     <div class="col-3 text-left">{{UserObj['mobile']}}</div>
    <div class="col-1"></div>
     
 </div>
 <div class="row">
    <div class="col-1"></div>
     <div class="col-2 text-right">
         <h4 style="font-weight: bold;"> Address :</h4>
     </div>
 
     <div class="col-3 text-left">{{UserObj['address']}}</div>
   
     
 </div>
 